<h1>Hi, {{ current_user.username }}!</h1>
<p>Welcome to Wifi Attendance</p>
<div>
    <a class="btn btn-sm btn-primary" href="{{ url_for('index') }}">Home</a>
    {% if current_user.is_anonymous %}
    <a class="btn btn-sm btn-danger" href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a class="btn btn-sm btn-primary" href="{{ url_for('add_staff') }}">Add Staff</a>
    <a class="btn btn-sm btn-primary" href="{{ url_for('staff_list') }}">Staff List</a>
    <a class="btn btn-sm btn-primary" href="{{ url_for('add_staff') }}">Track</a>
    <a class="btn btn-sm btn-danger" href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>