{% extends "base.html" %}

{% block content %}

<form class="form-signin" action="" method="post" novalidate>
    <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="72" height="72">
    <h2 class="h3 mb-3 font-weight-normal">WiFi Attendance System</h2>
    <h4 class="h4 mb-3 font-weight-normal">Register Admin Account</h4>
    <br />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <hr>
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <label for="inputUsername" class="sr-only">{{ form.username.label }}</label>
    {{ form.username(size=32, class_="form-control", placeholder="Enter Username") }}
    {% for error in form.username.errors %}
        <span class="text-red">[{{ error }}]</span>
    {% endfor %}
    <label for="inputEmail" class="sr-only">{{ form.email.label }}</label>
    {{ form.email(size=64, class_="form-control", placeholder="Email Address") }}
    {% for error in form.email.errors %}
        <span class="text-red">[{{ error }}]</span>
    {% endfor %}
    <label for="inputPassword" class="sr-only">{{ form.password.label }}</label>
    {{ form.password(size=32, class_="form-control", placeholder="Enter Password") }}
    {% for error in form.password.errors %}
        <span class="text-red">[{{ error }}]</span>
    {% endfor %}
    <label for="inputPassword2" class="sr-only">{{ form.password.label }}</label>
    {{ form.password2(size=32, class_="form-control", placeholder="Enter Password Again") }}
    {% for error in form.password2.errors %}
        <span class="text-red">[{{ error }}]</span>
    {% endfor %}
    {{ form.hidden_tag() }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; <a href="https://twitter.com/_mimrah">Ibrahim Mimrah</a> 2020</p>
</form>

{% endblock %}